.container {
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list_player {
  width: 36rem;
  margin: 0.6rem;
  flex-direction: column;
}
.list {
  width: 100%;
}

@media screen and (max-width: 60rem) {
  .list {
    flex-direction: column;
  }
  .list_player {
    width: 100%;
  }
}
