.list {
  width: 80vw;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
}

@media screen and (max-width: 58rem) {
  .list {
    flex-direction: column;
  }
}
