.item {
  width: 50%;
  padding: 0.2em;
}
.item_player {
  width: 100%;
  padding: 0.2em;
}
.item img,
.item_player img {
  width: 40%;
  height: 100%;
}
.titleBox {
  margin-left: 0.7em;
  padding: 0;
}
.title {
  font-size: 0.9em;
  font-weight: 700;
}
.channel {
  font-size: 0.7em;
  margin-top: 0.3em;
}

@media screen and (max-width: 58rem) {
  .item {
    width: 100%;
  }
  .item_player img {
    width: 30%;
    height: 100%;
  }
}
