@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
body {
  font-family: 'Open Sans', 'Nanum Gothic', sans-serif;
  color: rgb(37, 37, 37);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
